<ion-menu [content]="nav">
    <ion-header>
        <ion-toolbar>
            <ion-title>MENU</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <button
            ion-item
            (click)="onLoad(rootPage)"
            *ngIf="isAuthenticated">
            Main</button>
            <button
            ion-item
            (click)="onLoad(signinPage)"
            *ngIf="!isAuthenticated">
            Sign in</button>
            <button
            ion-item
            (click)="onLoad(signupPage)"
            *ngIf="!isAuthenticated">Sign up</button>
            <button
            ion-item
            (click)="onLogout()"
            *ngIf="isAuthenticated">Logout</button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #nav></ion-nav>
