<!--
  Generated template for the NewRunPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-buttons start>
          <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-buttons>
    <ion-title>START NEW RUN</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-content>
        <div id="map_canvas">
          </div>
        <!-- <img src="../../assets/img/map.png"> -->
        <ion-list>
          <ion-item *ngFor="let place of toRun">
              {{place.place.name}}
            <ion-icon [name]="place.visited ? 'checkbox' : 'square'" item-end></ion-icon>
          </ion-item>
        </ion-list>
        <button ion-button block icon-start (click)="addPlacePage()" *ngIf="runMode == false" >
          <ion-icon name="add"></ion-icon>
          Add more places
        </button>
        <button ion-button block (click)="startRun()" *ngIf="runMode == false">Start Run</button>
        <button ion-button block (click)="endRun()" color="danger" *ngIf="runMode == true">End Run</button>
        <ion-grid *ngIf="runMode == true">
            <ion-row align-items-center justify-content-center>
                <ion-col class="big_number" text-center>
                  8'3''
                </ion-col>
                <ion-col class="big_number" text-center>
                  2.74
                </ion-col>
              </ion-row>
          <ion-row justify-content-center>
            <ion-col text-center>
              Average pace(mi'sec'')
            </ion-col>
            <ion-col text-center>
              Distance elapsed(mi)
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
  </ion-card>

</ion-content>
